{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido a Forum</h1>Hola <strong>{{session["usuario"]}}</strong>
  <p class="lead">Ahora puedes revisar los grupos y foros en los que participas</p>
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="{{ url_for('foros') }}" role="button">Ir a foros</a>
  <a class="btn btn-primary btn-lg" href="{{ url_for('grupos') }}" role="button">Ir a grupos</a>
</div>

{% endblock%}

<!--<body>
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                Hola <strong>{{session["usuario"]}}</strong>
                <p>A esta página solo se puede acceder si el usuario ha iniciado sesión</p>
                <a href="{{url_for('logout')}}">Salir</a>
            </div>
        </div>
    </section>

</body>-->

