{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Tema del Foro :{{foro.nameForo}}</h1>
  <p class="lead">{{foro.descripcionForo}}</p>
  <hr class="my-4">
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Crear Post</button>

</div>
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Comentario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('crearComentario',id = foro._id)}}" method="post">
            
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Escribe aqui tu comentario:</label>
              <textarea class="form-control" required id="comentarioForo" name="comentarioForo" placeholder="Ingrese su comentario"></textarea>
            </div>
            <button class="button is-success mt-2">Publicar Comentario</button>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
         
        </div>
      </div>
    </div>
  </div>
<h1 class="display-4">Comentarios del Foro</h1>

    {% for contact in coment %}
    
      <div class="card">
        <div class="card-header">
            {{contact.usuario}} dijo:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{contact.comentarioForo}}.</p>
            
          </blockquote>
        </div>
      </div>
      {% endfor %}
    
  </div>
  

{% endblock%}