{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Foros</h1>
  <p class="lead">Puedes ver los Foros en los que participas y puedes crear nuevos Foros</p>
  <hr class="my-4">
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Crear Foro</button>

</div>
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo foro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('createForo')}}" method="post">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre del Foro</label>
              <input type="text" required class="form-control" id="nameForo" name="nameForo" placeholder="Ingrese el nombre">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Descripcion del Foro:</label>
              <textarea class="form-control" required id="descripcionForo" name="descripcionForo" placeholder="Ingrese descripcion"></textarea>
            </div>
            <button class="button is-success mt-2">Crear foro</button>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
         
        </div>
      </div>
    </div>
  </div>
<h1 class="display-4">Lista de mis Foros</h1>
<div class="list-group">
    {% for contact in foro %}
    <tr>
        <td><a type="button" class="list-group-item list-group-item-action" href="{{ url_for('foro_activo', id = contact._id) }}">{{contact.nameForo}}</a></td>
       
      </tr>
      {% endfor %}
    
  </div>
  
{% endblock%}