
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <h1 class="is-size-1">Ingrese sus datos</h1>
                <form action="{{url_for('createUser')}}" method="post">
                    <label for="nombre">Nombre completo</label>
                    <div class="control">
                        <input autofocus required type="text" class="input" placeholder="Nombre Completo" id="name"
                            name="name">
                    </div>
                    <label for="correo">Correo</label>
                    <div class="control">
                        <input autofocus required type="email" class="input" placeholder="Correo" id="email"
                            name="email">
                    </div>
                    <div class="control">
                        <label for="palabra_secreta">Contraseña</label>
                        <input required type="password" class="input" placeholder="Contraseña" id="password"
                            name="password">
                    </div>
                    

                    <button class="button is-success mt-2">Registrarse</button>
                    
                </form>
            </div>
        </div>
    </section>

</body>

</html>